<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'common/globalstyles.html.twig' %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if '/admin/' in app.request.uri %}
            {% include 'admin/navbar.html.twig' %}
        {% endif %}
        {% block body %}{% endblock %}
        {% include 'common/globalscript.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
