{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if app.user %}
                    <div class="panel panel-success">
                        <div class="panel-heading">List of users</div>
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <a href="{{ path('edit', {'id': user.id}) }}" class="btn-primary btn-sm">Edit</a>
                                        <a href="{{ path('delete', {'id': user.id}) }}" class="btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <a href="/admin/login" class="btn btn-info"> Login >></a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
